.content {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.copy-button {
  width: 10ch;
}

.table-container {
  margin: 0;
  overflow-x: hidden;
}

.table-container b {
  font-size: 125%;
}

.table-body {
  width: 100dvw;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-head {
  width: 100%;
  overflow-x: hidden;
}

.flex-row {
  width: 100dvw;
  display: flex;
  overflow-x: hidden;
}

.flex-grow {
  flex-grow: 1;
  width: 100%;
}

.flex-end {
  position: relative;
  width: 16ch;
  text-align: center;
}

.flex-end:last-child {
  width: 15ch;
}

.table-quote {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.chart-container {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.todos-container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: white;
}

.list-item-text {
  color: var(--text-dark);
}
